html {
  font-size: 100%;
}
.text {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
.text--space-x0 {
  padding: 0ex 0em;
}
.text--space-x1 {
  padding: 1ex 1em;
}
.text--space-x2 {
  padding: 2ex 2em;
}
.text--space-x3 {
  padding: 3ex 3em;
}
.text--space-x4 {
  padding: 4ex 4em;
}
.text--space-x5 {
  padding: 5ex 5em;
}
.text--space-x6 {
  padding: 6ex 6em;
}
.layout {
  min-height: 100vh;
}
.header {
  padding: 1ex 1em;
}
.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0ex 0em;
}
.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1ex 1em;
}
.footer {
  height: 3rem;
  padding: 1ex 1em;
}
.brand-root {
  background-color: #ffffff;
  color: #000000;
}
.warp {
  min-height: 800px;
}
