//import modules
//default
@scaffold-fill: white;
@scaffold-anchor-size: 1rem;
@scaffold-color: contrast(@scaffold-fill);
//define
.warp {

  figure {

  }

  menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > * {
      &:after {
        content: "";
        height: @scaffold-anchor-size;
        width: @scaffold-anchor-size;
        display: block;
        background-color: @scaffold-color;
        border-radius: (@scaffold-anchor-size/2);
        box-shadow: inset 0 0 0 .4rem fade(@scaffold-fill, 85%), inset 0 0 0 .1rem @scaffold-fill;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      position: absolute;
      display: block;
      overflow: hidden;
      width: (@scaffold-anchor-size * 4);
      height: (@scaffold-anchor-size * 4);
      text-indent: (@scaffold-anchor-size * 4);
      cursor: move;
      transform: translate(-50%, -50%);
    }
  }

}