<section class="warp">
    <figure class="imgrd imgrd--z">
        <div></div>
        <div></div>
        <div></div>

        <div></div>
        <div {{figure.style}}></div>
        <div></div>

        <div></div>
        <div></div>
        <div></div>
    </figure>
    <menu>{{#each figure.corners}}<div id="{{id}}" style="{{style}}"></div>{{/each}}</menu>
</section>
